main{
    background-color: #fbf7ee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}
header{
   background-color:#fff1d65d;
    padding: 2px 16px;
    font-size: 1.2rem;
}
.review-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96%;
    justify-content: center;
    margin: 3rem auto;
}
.review-card{
    flex-basis: 18%;
    margin: 12px;
    padding: 4px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s;
}
.review-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
}
.book-img{
  width: 320px;
  height: 400px;
}
.date{
    float: right;
}
form{
    background-color: #fff; 
    width: 60%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-item{
    margin: 8px auto;
}
input{
    padding: 8px 40px;
    border: 1px solid black
}
#submit{
    background-color:#fff1d6;
    padding: 8px 40px;
    font-size: 1.1rem;
}
footer{
    padding: 2rem;
    background-color:darkslategray;
    display: flex;
    align-items: center;
}
.footer-text{
    color: #fff;
    margin: 0 auto;
    
}

